body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-body {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results-block {
    display: none;
}